@model IEnumerable<PharmaceuticalWarehouseManagementSystem.ENTITY.Entity.Category>

@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<div class="card-header">
    <div class="card-title">Category List</div>
</div>

<div class="card-body table-responsive"></div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Edit</a>
                    <br />
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
