@model IEnumerable<PharmaceuticalWarehouseManagementSystem.ENTITY.Entity.Category>

@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>List</h1>


<div class="card-body table-responsive">
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryDescription)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Edit</a> 
                <br/>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
