@model IEnumerable<PharmaceuticalWarehouseManagementSystem.ENTITY.Entity.Category>

@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>List</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="card-body table-responsive" >
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeleteDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedIP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedComputerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedIP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedComputerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RemovedIP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RemovedComputerName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeleteDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedIP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedComputerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedIP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedComputerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RemovedIP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RemovedComputerName)
                    </td>
                    <td>
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Edit</a>
                        <br />
                        <a asp-controller="Category" asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Details</a>
                        <br />
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
